@use "../bootstrap-custom" as *;

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;

  &__link {
    text-decoration: none;
    background-color: $primary;
    color: #fff;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    transition: 0.2s all;

    &:hover {
      color: $secondary-color;
      background-color: $white;
    }

    i {
      font-size: 1.8rem;
    }
  }
}
