@use "../bootstrap-custom" as *;

.intro {
  position: relative;
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../images/intro-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  margin-bottom: 17rem;

  @include media-breakpoint-down(lg) {
    margin-bottom: 35rem;
  }

  &__content {
    transform: translateY(-3rem);
    h1 {
      text-transform: capitalize;
      font-weight: 600;
    }

    p {
      font-family: $font-family-sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      max-width: 42rem;
      line-height: 1.3;
      margin: 0 auto;
    }

    &-form {
      max-width: 35rem;
      margin: 0 auto;

      input {
        padding: 1rem;
      }

      button {
        height: 80%;
        position: absolute !important;
        right: 0;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 100 !important;
        border-radius: 1px;
      }
    }
  }

  &__extra {
    width: 65%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 40%);
    padding: 2rem;
    background-color: $white;
    color: $black;
    border-radius: 1rem;
    text-align: left;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);

    &::after {
      content: "";
      width: 50%;
      height: 0.5rem;
      background-color: $primary;
      position: absolute;
      bottom: -0.5rem;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 0 0 10px 10px;
    }

    @include media-breakpoint-down(xl) {
      width: 80%;
      bottom: -8%;
    }

    @include media-breakpoint-down(lg) {
      bottom: 0;
      width: 100%;
      border-radius: 0;
      transform: translate(-50%, 75%);
      padding: 1rem 0;
      text-align: center;
      box-shadow: none;

      &::after {
        display: none;
      }
    }

    &-left {
      padding-right: 3rem;
      border-right: 0.5px solid rgb(165, 165, 165);
    }

    &-right {
      padding-left: 3rem;
    }

    @include media-breakpoint-down(lg) {
      &-left {
        padding: 0.5rem;
        border-right: none;
        margin-bottom: 1rem;
      }

      &-right {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 0.5rem;
      }
    }

    h2 {
      text-transform: capitalize;
      color: $gray-900;
    }

    p {
      font-family: $font-family-sans-serif;
      font-size: 0.9rem;
      font-weight: 500;
      color: #747474;
      line-height: 1.4;
    }

    &-info {
      display: flex;
      align-items: center;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      @include media-breakpoint-down(lg) {
        width: 20rem;
        padding: 2rem 0;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
        justify-content: center;

        &:not(:last-child) {
          margin-bottom: 0rem;
        }
      }

      @include media-breakpoint-down(md) {
        width: 15rem;
      }
      @include media-breakpoint-down(sm) {
        width: 23rem;
      }

      i {
        width: 3.5rem;
        font-size: 2rem;
        color: $gray-900;
      }

      h4 {
        font-weight: 600;
        font-size: 1.05;
        color: $gray-900;
        margin: 0;
      }

      span {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.9rem;
        color: $gray-900;
      }
    }
  }
}
