@use "../bootstrap-custom" as *;

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(216, 17, 17);
}

.top-bar {
  background-color: $primary;
  color: $white;
  padding: 0.5rem 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 0;

      @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
      }
    }
  }
}
