@use "./bootstrap-custom";
@use "./base/base";
@use "./base/typography";
@use "./components/navbar";
@use "./components/buttons";
@use "./sections/intro";
@use "./sections/teachers";
@use "./sections/why-us";
@use "./sections/courses";
